:root {
	--white: #ffffff;
	--black: #000000;
	--gry-lt: #efefef;
	--prim: #2e3e80;
	--prim-lt: #f3f5ff;
	--sec: #79be3f;
	--gry-mid:  #898989;
}

:root {
  --fs-10: 0.667rem;
  --fs-11: 0.733rem;
  --fs-12: 0.8rem;
  --fs-13: 0.867rem;
  --fs-14: 0.933rem;
  --fs-15: 1rem;
  --fs-16: 1.067rem;
  --fs-17: 1.133rem;
  --fs-18: 1.2rem;
  --fs-20: 1.333rem;
  --fs-24: 1.6rem;
  --fs-30: 2rem;
  --fs-35: 2.333rem;
  --fs-40: 2.66rem;
  --fs-45: 3rem;

}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 15px;
}

.abc-main{
	position: relative;
	height: auto;
	padding-bottom: 20px;
}

.abc-head{
	border: 1px solid var(--white);
}

.abc-maxcont{
	max-width: 900px;
	margin:auto;
}

/*HERO*/
.abc-hero {
	padding: 50px;
	text-align: center;
}

.abc-hero-ptxt{
	font-size: var(--fs-35);
	color: var(--prim);
	font-weight: 800;
	padding: 20px 0px;
	padding-bottom: 7px;
	text-align: center;
}
.abc-hero-stxt{
	font-size: var(--fs-17);
	color: var(--sec);
	font-weight: 600;
	padding: 7px 0px;
	padding-bottom: 7px;
	text-align: center;
}

.abc-hero-btn{
	margin: 15px auto;
	display: inline-block;
	height: 50px;
	border-radius: 7px;
	padding: 15px 10px;
	font-size: var(--fs-15);
	color: var(--white);
	background-color: var(--prim);
	text-align: center;
	box-shadow: 6px 7px 0px 3px rgb(90 122 255);
	cursor: pointer;
	user-select: none;
}
.abc-hero-bg{
	background-color: var(--prim-lt);
	width: 100%;
	height: 100%;
	border-radius: 20px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	z-index: -1;
}

.abc-hero-tbox{
	background-color: var(--prim);
	width: 315px;
	height: 500px;
	/*border-radius: 15px;*/
	box-shadow: 0px 20px 50px rgb(0 0 0 / 10%);
	border: 5px solid var(--white);
	margin: 20px auto;
	transform: skewY(-10deg);
	position: relative;
}

.abc-hero-tbox::after{
     content: "";
    display: block;
    width: calc(100% + 6px);
    background-color: #e9e9e9;
    position: absolute;
    top: -24px;
    left: 0px;
    right: 0px;
    height: 20px;
    transform: skewX(45deg);
    transform-origin: bottom;
}
.abc-hero-tbox::before{
       content: "";
    display: block;
    width: 20px;
    background-color:#fbfbfb;
    position: absolute;
    top: -6px;
    left: -22px;
    right: 0px;
    height: calc(100% + 12px);
    transform: skewY(45deg);
    transform-origin: right;
}
.abc-hero-tcont{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	padding: 5px;
	position: relative;
	overflow: hidden;
	transition: all 0.15s linear;
}
.abc-hero-tcont::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: calc(100% + 50px);
    background: linear-gradient(to top, transparent, #ffffff40 15%, rgb(255 255 255 / 4%));
    position: absolute;
    top: -75px;
    left: 50px;
    bottom: 0px;
    right: 0px;
    transform: rotate(-135deg);
	transition: all 0.15s linear;
}
.abc-hero-tcont:hover::after{
    left: 0px;
	transition: all 0.15s linear;
}
.abc-hero-tcont:hover{
	transform: scale(1.05);
	transition: all 0.15s linear;
}
.abc-hero-timg{
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 15px;
	position: relative;
}
/*HOW IT WORKS*/
.abc-sec-stxt{
	font-size: var(--fs-17);
	color: var(--gry-mid);
	padding-bottom: 10px;
	text-align: center;
}
.abc-sec-htxt{
	font-size: var(--fs-30);
	font-weight: 600;
	color: var(--prim);
	padding: 10px 0px;
	text-align: center;
}
.abc-works{
	    width: 200px;
    height: 200px;
    background-color: var(--white);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 15px 30px rgb(0 0 0 / 10%), 10px 13px 0px 5px rgb(0 0 0 / 10%);
}
.abc-works-ptxt{
	    font-size: var(--fs-35);
    font-weight: 900;
    color: var(--prim);
    position: relative;
    left: -15px;
    background-color: var(--prim);
    width: 30px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    color: var(--white);
    padding-top: 5px;
}

.abc-works-stxt{
	font-size: var(--fs-24);
	font-weight: 600;
	color: var(--sec);
}

.abc-works-sec{
	padding: 7px;
}

.abc-works-pimg{
	width: 100%;
	height: 150px;
}

.abc-works-sec{
	padding: 50px 0px;
}