
	<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<!-- 	<script type="text/javascript">
		$('.auth-fld-inp').on('keyup', function () {

				if(event.target.attributes[2].value == 'user_confirm_password' || event.target.attributes[2].value == 'password') {
					if($('#confirm_password').value === $('#password').value) {
					  $('.auth-btn').removeClass('auth-disable');					
					}
					else {
						$('#confirm_password').parents('.auth-fld').append(`<div class="auth-ired">Passwords doesn't Match</div>`);
					}
				}

		});

	</script> -->
	<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>