<%- include('header.ejs') %>
<div class="auth-box">
  <div class="auth-lft">
            <div class="auth-lft-imgb">
                <img src="../images/Sprinkle.svg" class="auth-lft-img">
            </div>
            <div class="auth-lft-txt">
                Sign In Now to get your Free Buisness Card
            </div>
        </div>
    <div class="auth-rgt">
        <div class="auth-container">
            <div style="text-align: center;"> 
                    LOGO
                </div>
                <div class="auth-sec">
                            <span>
                                Already Existing User?                              
                            </span>
                            <a href="/signin-auth" class="clnk">
                                Sign In
                            </a>
                        </div>
            <div class="auth-head">
                Forgot Password
            </div>
               
               <form id="forgot_password_form">

	                <div>
	                    <div class="auth-fld">
	                        <input id="email" type="text" name="user_email" class="auth-fld-inp" required autocomplete="off">
	                        <label for="email" class="auth-fld-lbl">
	                            <span class="auth-fld-txt">
                                        Email
                                    </span>
                                    <span class="auth-req">
                                        *
                                    </span>
	                        </label>
                            <div class="auth-fld-close dn" onclick="fldClear(this);">
                                </div>
	                    </div>
		            </div>
		            <div class="auth-btn auth-disable" onclick="loadForgotPassword(this);">
                        <span>
                            Next                            
                        </span>
		            </div>
                    
            </form>
           
    </div>
    <div class="auth-notify bg-red <%= notify_sh %>" id="auth_notify">
        <div class="auth-close">
        </div>
        <div class="auth-notify-lbl">
            <%= notify_err %>
        </div>
    </div>
</div>
</div>

<%- include('footer.ejs') %>
<script type="text/javascript">
        setTimeout(() => {
            $(".auth-notify").removeClass("auth-notify-show");
        }, 8000);
        $('.auth-fld-inp').on('keyup', function() {
            if(email_valid === true) {
                $('.auth-btn').removeClass('auth-disable');
            }
            else{
                $('.auth-btn').addClass('auth-disable');
            }
          
        });
    </script>