<%- include('header.ejs') %>

	<div class="auth-box">
		<div class="auth-lft">
			<div class="auth-lft-imgb">
				<img src="../images/Sprinkle.svg" class="auth-lft-img">
			</div>
			<div class="auth-lft-txt">
				Sign In Now to get your Free Buisness Card
			</div>
		</div>

		<div class="auth-rgt">
			<div class="auth-container">
				<div style="text-align: center;"> 
					LOGO
				</div>
				<div class="auth-sec">
							<span>
								New User ?								
							</span>
							<a href="/signup-auth" class="clnk">
								Sign Up Now
							</a>
						</div>
				<div class="auth-head">
					Sign In
				</div>
				<div>
					<form >
						<div class="auth-fld">
								<input id="email" type="text" name="user_email" class="auth-fld-inp" required>
								<label for="email" class="auth-fld-lbl">
									Email
								</label>
							</div>
							
							<div class="auth-fld">
								<input id="password" type="text" name="password" class="auth-fld-inp" required>
								<label for="password" class="auth-fld-lbl">
									Password
								</label>
								<div class="auth-fld-sec auth-fp-sec">
									<a href="/forgot-password-auth" class="clnk">
										Forgot Password
									</a>
								</div>
							</div>

							
						
						</div>
						<div class="auth-btn auth-disable" onclick="signIn(this);">
							<span>
								Sign In
							</span>
						</div>

						
					</form>

			</div>
			<div class="auth-notify" id="auth_notify">
			</div>
		</div>

	</div>
<%- include('footer.ejs') %>
