<%- include('header.ejs') %>
	<div class="auth-box">
	<div class="auth-lft">
			<div class="auth-lft-imgb">
				<img src="../images/Sprinkle.svg" class="auth-lft-img">
			</div>
			<div class="auth-lft-txt">
				Sign In Now to get your Free Buisness Card
			</div>
		</div>

		<div class="auth-rgt">
			<div class="auth-container">
				<div>
					LOGO
				</div>
				<div class="auth-head">
					Register
				</div>
				<div>
					  <form>
							<div class="auth-fld">
								<input id="username" type="text" name="user_username" class="auth-fld-inp" required>
								<label for="username" class="auth-fld-lbl">
									UserName
								</label>
								
							</div>
							<div class="auth-fld">
								<input id="email" type="text" name="user_email" class="auth-fld-inp" required>
								<label for="email" class="auth-fld-lbl">
									Email
								</label>
								<div id="email_err">
									<div></div>
								</div>
							</div>
							<div class="auth-fld">
								<input id="business_name" type="text" name="user_business_name" class="auth-fld-inp" required>
								<label for="business_name" class="auth-fld-lbl">
									Business Name
								</label>
								<div id="business_name_err">
									<div></div>
								</div>
							</div>
							<div class="auth-fld">
								<input id="business_nature" type="text" name="user_business_nature" class="auth-fld-inp" required>
								<label for="business_nature" class="auth-fld-lbl">
									Business Nature
								</label>
								<div id="business_nature_err">
									<div></div>
								</div>
							</div>
							<div class="auth-fld">
								<div class="auth-fr">
									<label class="auth-checkbox"> 
										<input type="checkbox" name="">
										<div class="auth-check">
										</div>
										<div>
											I Accept the Terms
										</div>
									</label>
									
								</div>
							</div>
						</div>
						<div class="auth-btn auth-disable" onclick="registerUser(this);">
							<span>
								Next
							</span>
						</div>
						<div class="auth-sec">
							<span>
								Already Existing User?								
							</span>
							<a href="/signin-auth" class="clnk">
								Sign In
							</a>
						</div>
					</form>

			</div>
			<div class="auth-notify bg-red <%= link_expired %>" name="auth_notify">
				<div class="auth-notify-lbl">
					Verification Link Already Expired
				</div>
			</div>
			<div class="auth-notify bg-green <%= user_exists %>" name="auth_notify">
				<div class="auth-notify-lbl">
					User Account Already Exists
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		setTimeout(() => {
			$(".auth-notify").removeClass("auth-notify-show");
		}, 8000)
	</script>
<%- include('footer.ejs') %>
