:root {
    --white: #ffffff;
    --black: #000000;
    --gry-lt: #efefef;
    --gry-dk: #e9e9e9;
    --prim: #2e3e80;
    --prim-lt: #f3f5ff;
    --prim-dk: #162254;
    --sec: #79be3f;
    --sec-dk:  #3b7808;
    --gry-mid: #898989;
    --red-lt: #ffeaea;
    --red-mid:  #ffc5c5;
    --red: #ff0000;
}

:root {
    --fs-10: 0.667rem;
    --fs-11: 0.733rem;
    --fs-12: 0.8rem;
    --fs-13: 0.867rem;
    --fs-14: 0.933rem;
    --fs-15: 1rem;
    --fs-16: 1.067rem;
    --fs-17: 1.133rem;
    --fs-18: 1.2rem;
    --fs-20: 1.333rem;
    --fs-24: 1.6rem;
    --fs-30: 2rem;
    --fs-35: 2.333rem;
    --fs-40: 2.66rem;
    --fs-45: 3rem;

}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 15px;
}

.abc-gabs {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-color: var(--white);
    overflow: hidden;
}

.abc-ghead {
    height: 50px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 1px solid var(--gry-lt);
}
.abc-hlft {
    position: relative;
    align-items:center;
    display: flex;
    flex-direction: row;
}
.abc-hrgt {
    position: relative;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.abc-htitle{
    font-weight: 600;
    font-size: var(--fs-20);
    color: var(--black);
}

.abc-ghprof{
    width: auto;
    background-color: var(--gry-lt);
    border-radius: 7px;
    /*box-shadow: 0px 4px 15px rgb(0, 0, 0, 0.06);*/
    border: 1px solid var(--gry-lt);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.abc-ghprof-imgb{
    width: 35px;
    height: 35px;
    border: 2px solid var(--white);
    border-radius: 100px;
    background-color: var(--prim);
    margin: 0px 3px;
}
.abc-ghprof-img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    padding: 2px;
}
.abc-ghprof-txt{
    font-weight: 600;
    font-size: var(--fs-12);
    padding: 0px 5px;
}
.abc-ghprof-subtxt{
    font-size: var(--fs-11);
    padding: 3px 5px;
}
.abc-gbody {
    background-color: var(--prim-lt);
    height: calc(100% - 50px);
    overflow: auto;
    padding: 15px;
}

.abc-rgt-cont {
    position: absolute;
    left: 250px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    transition: all 0.1s linear;
}

.abc-gbtn {
    width: auto;
    height: 27px;
    min-width: 60px;
    padding: 3px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.1);
    font-size: var(--fs-12);
    text-decoration: none;
}

.abc-prim-btn {
    background-color: var(--prim);
    color: var(--white);
}
.abc-prim-btn:hover{
    background-color: var(--prim-dk);
    color: var(--white);
}


.abc-sec-btn {
    background-color: var(--sec);
    color: var(--white);
}
.abc-sec-btn:hover{
    background-color: var(--sec-dk);
    color: var(--white);
}

.abc-red-btn {
    background-color: var(--red-lt);
    color: var(--red);
    border: 1px solid var(--red-mid);
}
.abc-red-btn:hover{
    background-color: var(--red-mid);
    color: var(--red);
    border: 1px solid var(--red-mid);
}

.abc-temp-ft{
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 10px;
    justify-content: center;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 100px;
    padding: 3px 4px;
}
.abc-temp-ft .abc-gbtn{
    width: 50%;
}
.abc-half-btn {
    width: 50%;
    border-radius: 0;
    height: 100%;
}
.abc-ginp {
    width: 100%;
    height: 100%;
    background-color: var(--gry-lt);
    border: 1px solid var(--gry);
    outline: none;
    padding: 5px;
    border-radius: 4px;
    min-height: 40px;
}

.abc-ginp:placeholder {
    color: var(--gry-lt);
}

.abc-ginp:hover {
    border: 1px solid var(--sec);
}

.abc-ginp:focus {
    border: 1px solid var(--sec);
}

.abc-gml {
    width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
    background-color: var(--gry-lt);
    border: 1px solid var(--gry);
    outline: none;
    padding: 5px;
    border-radius: 4px;
    text-align: left;
    resize:vertical;
}

.abc-gml:placeholder {
    color: var(--gry-lt);
}

.abc-gml:hover {
    border: 1px solid var(--sec);
}

.abc-gml:focus {
    border: 1px solid var(--sec);
}

.abc-gback {
    background-color: var(--gry-mid);
    border: 1px solid var(--gry-mid);
    border-radius: 100px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.abc-gback::after{
	content: "";
	display: block;
	width: 1px;
	height: 20px;
	position: absolute;
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--gry);
}
.abc-gback:hover{
    background-color: var(--red-mid);
    border: 1px solid var(--red-mid);
}
.darr {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid var(--white);
    border-top-color: transparent;
    border-left-color: transparent;
    background-color: #ffffff00;
    transform: rotate(45deg);
    position: relative;
}

.uarr {
    transform: rotate(225deg);
}

.larr {
    transform: rotate(135deg);
}

.rarr {
    transform: rotate(315deg);
}

.abc-gback .darr {
    border: 2px solid var(--white);
    border-top-color: transparent;
    border-left-color: transparent;
    left: 2px;
}
.abc-gback:hover .darr{
    border: 2px solid var(--red);
    border-top-color: transparent;
    border-left-color: transparent;
}


/*POPUPS*/
.abc-gpop-cont{
       background-color: rgb(0 0 0 / 6%);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    backdrop-filter: blur(2px);
}

.abc-gpop-box {
    background-color: var(--white);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.4);
}

.abc-gsm-pop {
       width: 90%;
    height: auto;
    max-width: 700px;
}

.abc-gsm-pop .abc-gpop-body{
    padding: 20px 10px;
    background-color: var(--white);
}

.abc-gpop-head{
    height: 45px;
    background-color: var(--white);
    border-bottom: 1px solid var(--gry);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 10px;
}

.abc-gpop-htxt{
    font-weight: 600;
    font-size: var(--fs-17);
    color: var(--black);
}

.abc-gpop-ft {
      height: 45px;
    border-top: 1px solid var(--gry);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    padding: 0px 10px;
}

.abc-gpop-body{
    max-height: 93%;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--gry-lt);
    position: relative;
}

.abc-gclose {
    width: 35px;
    height: 35px;
    background-color: var(--gry);   
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.abc-gclose::after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: var(--gry-mid);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.abc-gclose::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: var(--gry-mid);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.abc-gclose:hover{
    background-color: var(--red-lt);   
}
.abc-gclose:hover::before{
    background-color: var(--red); 
}
.abc-gclose:hover::after{
    background-color: var(--red); 
}
.abc-prev {
    width: 95%;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 12px;
    overflow: hidden;
}

.abc-prev-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.edit-template-cont{
    height: 100%;
}

.abc-edit-gbody {
    padding: 0px;
    overflow: hidden;
}

.abc-abs-btn{
    position: sticky;
    top: 10px;
    right: 10px;
    left: auto;
    /* margin-right: 0; */
    margin-left: auto;
    display: block;
    width: 135px;
    padding: 10px;
    text-align: center;
    height: 35px;
}

/*OVERRIDES GENERAL*/
.p0 {
    padding: 0px !important;
}

.dn {
    display: none!important;
}
.abc-scaleout{
    visibility: hidden !important;
}
.abc-scalein {
    visibility: visible !important;
}


.abc-scaleout .abc-gpop-box{
    transform: scale(0) translate(-50%, -50%) !important;
    transition: all 0.1s linear !important;
}

.abc-scalein .abc-gpop-box{
    transform: scale(1) translate(-50%, -50%) !important;
    transition: all 0.1s linear !important;
}

.abc-scaleout .abc-edit-tempbox{
    transform: scale(0) translate(-50%, -50%) !important;
    transition: all 0.1s linear !important;
}

.abc-scalein .abc-edit-tempbox{
    transform: scale(1) translate(-50%, -50%) !important;
    transition: all 0.1s linear !important;
}

.abc-gburg{
    width: 25px;
    height: 40px;
    position: relative;
    margin-right: 10px;
    display: none;
}

.abc-gburgl{
    width: 100%;
    height: 2px;
    position: relative;
    margin: 20px auto;
    background-color: var(--gry-mid);
    transition: all 0.4s linear;
}

.abc-gburgl::before{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--gry-mid);
    border-radius: 10px;
    position: absolute;
    top: -10px;
    left: 0px;
    right: 0px;
    transition: all 0.4s linear;
}

.abc-gburgl::after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--gry-mid);
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    left: 0px;
    right: 0px;
    transition: all 0.4s linear;
}

.abc-gburg-close {
    width: 40px;
    background-color: var(--red-lt);
    border-radius: 50%;
    transition: all 0.15s linear;
}
.abc-gburg:hover .abc-gburgl{
    background-color: var(--sec);
}
.abc-gburg:hover .abc-gburgl::after{
    background-color: var(--sec);
}
.abc-gburg:hover .abc-gburgl::before{
    background-color: var(--sec);
}

.abc-gburg-close .abc-gburgl{
    background-color: transparent!important;
}
.abc-gburg-close:hover .abc-gburgl{
    background-color: transparent!important;
}
.abc-gburg-close .abc-gburgl::after{
    width: 60%;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 0px;
    left: 50%;
    background-color: var(--red);
}

.abc-gburg-close .abc-gburgl::before{
    width: 60%;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 0px;
    left: 50%;
    background-color: var(--red);
}

.abc-gburg-close:hover .abc-gburgl::after{
    background-color: var(--red);
}

.abc-gburg-close:hover .abc-gburgl::before{
    background-color: var(--red);
}

.abc-prev-body{
    background-color: var(--white);
    height: calc(100% - 0px);
    overflow: auto;
}

.abc-mnav-expmin {
    background-color: var(--prim-dk);
}
.abc-mnav-expmin .abc-lnav{
    left: 0px;
    box-shadow: none;
}
.abc-mnav-expmin .abc-rgt-cont {
    left: 210px;
    transform: scale(0.8);
    right: -250px;
    overflow: hidden;
    border-radius: 20px;
}
.abc-head-logo{
    width: 150px;
    height: auto;
}

.abc-hlogout{
    width: 70px;
    background-color: var(--red-lt);
    border-left: 1px solid var(--red-lt);
    color: var(--red);
    font-size: var(--fs-14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:3px 5px;
    align-items: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.abc-hlogout:hover{
    background-color: var(--red-mid);
}

.abc-bg-form {
    background-color: var(--white);
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}

.abc-lbl-box{
    background-color: var(--prim-lt);
    border: 1px solid var(--prim-lt);
    border-bottom: 0px;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px 0px;
}

.abc-lbl{
    background-color: var(--prim-lt);
    border-bottom: 1px solid var(--prim-lt);
    padding: 7px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--fs-13);
}

.abc-bg-form .abc-fld-lbl{
    text-align: center;
    font-size: var(--fs-17);
}
.pn-blur {
    pointer-events: none;
    opacity: 0.7;
}

::-webkit-scrollbar-thumb {
    height: 100px;
    border-radius: 100px;
    background-color: var(--gry-mid);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--gry-mid);
}
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: var(--gry);
}