:root {
    --white: #ffffff;
    --black: #000000;
    --gry-lt: #efefef;
    --prim: #2e3e80;
    --prim-lt: #f3f5ff;
    --sec: #79be3f;
    --gry-mid: rgb(203 203 203);
    --gry: rgb(135 135 135);
    --blue: rgb(0 142 255);
    --blue-lt: rgb(230 244 255);
    --red:  rgb(255, 0, 0);
    --green: rgb(0 205 153);
}

:root {
    --fs-10: 0.667rem;
    --fs-11: 0.733rem;
    --fs-12: 0.8rem;
    --fs-13: 0.867rem;
    --fs-14: 0.933rem;
    --fs-15: 1rem;
    --fs-16: 1.067rem;
    --fs-17: 1.133rem;
    --fs-18: 1.2rem;
    --fs-20: 1.333rem;
    --fs-24: 1.6rem;
    --fs-30: 2rem;
    --fs-35: 2.333rem;
    --fs-40: 2.66rem;
    --fs-45: 3rem;

}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 15px;
}

.auth-box {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    height: 100vh;
    overflow: hidden;

}

.auth-lft {
    width: 50%;
    height: 100%;
    border-right: 1px solid var(--gry-lt);
    position: relative;
}

.auth-rgt {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: auto;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='100' height='100' patternTransform='scale(3) rotate(50)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M100.16 24.75a2.93 2.93 0 11.04 5.86 2.93 2.93 0 01-2.95-2.91 2.92 2.92 0 012.9-2.95zm-100 0a2.93 2.93 0 11.04 5.86 2.93 2.93 0 01-2.95-2.91 2.92 2.92 0 012.9-2.95zm9.57 53.18c1.6 0 2.9 1.3 2.9 2.9a2.95 2.95 0 01-2.95 2.96 2.9 2.9 0 01-2.9-2.9 2.95 2.95 0 012.95-2.96zm58.57-2.51a2.93 2.93 0 11.04 5.86 2.93 2.93 0 11-.04-5.86zM49.45 4.4a2.93 2.93 0 11.04 5.86 2.93 2.93 0 01-.04-5.86zM21.66 49.6l2.95 2.91-2.9 2.95-2.95-2.9zm43.55-12.85s2.9 1.3 2.9 2.9v.05c0 1.6-1.3 2.9-2.9 2.9h-.04c-1.6 0-2.9-2.9-2.9-2.9z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 94%, 1)'/><path d='M89.93 57.48a1.08 1.08 0 01.39-1.38c2.44-1.53 5.04-1.81 7.15-.8 2.1 1.03 3.47 3.26 3.77 6.13.22 2.14 1.14 3.71 2.58 4.42 1.44.7 3.24.45 5.07-.69a1.07 1.07 0 011.13 1.8c-2.44 1.54-5.04 1.83-7.14.81-2.1-1.02-3.48-3.25-3.77-6.12-.23-2.15-1.15-3.72-2.59-4.42-1.44-.7-3.24-.46-5.07.68-.5.32-1.16.16-1.47-.33l-.05-.1zm10.06 31.11a.87.87 0 011.07.46c.99 2.14.95 4.28-.1 5.88-1.05 1.6-3 2.48-5.36 2.42-1.76-.04-3.13.54-3.85 1.63-.72 1.1-.71 2.59.03 4.18a.87.87 0 11-1.59.73c-.99-2.13-.95-4.27.1-5.87 1.05-1.6 3-2.48 5.36-2.42 1.76.04 3.13-.54 3.85-1.63.72-1.1.71-2.59-.03-4.18a.87.87 0 01.52-1.2zm0-100a.87.87 0 011.07.46c.99 2.14.95 4.28-.1 5.88-1.05 1.6-3 2.48-5.36 2.42-1.76-.04-3.13.54-3.85 1.63-.72 1.1-.71 2.59.03 4.18a.87.87 0 11-1.59.73c-.99-2.13-.95-4.27.1-5.87 1.05-1.6 3-2.48 5.36-2.42 1.76.04 3.13-.54 3.85-1.63.72-1.1.71-2.59-.03-4.18a.87.87 0 01.52-1.2zM9.44 9.9c.15-.3.54-.39.9-.24 1.88.82 3.16 2.12 3.53 3.58.38 1.47-.21 2.93-1.6 4.02-1.04.8-1.47 1.81-1.22 2.81.26 1 1.17 1.9 2.57 2.5.39.18.6.58.47.9-.13.34-.55.47-.93.3-1.88-.82-3.16-2.12-3.54-3.58-.37-1.46.22-2.93 1.6-4.01 1.05-.81 1.48-1.82 1.23-2.82-.26-1-1.17-1.89-2.58-2.5-.38-.17-.59-.57-.46-.9l.03-.07zm-19.51 47.59a1.08 1.08 0 01.39-1.38c2.44-1.53 5.04-1.81 7.15-.8 2.1 1.03 3.47 3.26 3.77 6.13.22 2.14 1.14 3.71 2.58 4.42 1.44.7 3.24.45 5.07-.69a1.07 1.07 0 011.13 1.8c-2.44 1.54-5.04 1.83-7.14.81C.78 66.75-.6 64.52-.9 61.65c-.23-2.15-1.15-3.72-2.59-4.42-1.44-.7-3.24-.46-5.07.68-.5.32-1.16.16-1.47-.33l-.05-.1zM-.01 88.59a.87.87 0 011.07.46c.99 2.14.95 4.28-.1 5.88-1.05 1.6-3 2.48-5.36 2.42-1.76-.04-3.13.54-3.85 1.63-.72 1.1-.71 2.59.03 4.18a.87.87 0 11-1.59.73c-.99-2.13-.95-4.27.1-5.87 1.05-1.6 3-2.48 5.36-2.42 1.76.04 3.13-.54 3.85-1.63.72-1.1.71-2.59-.03-4.18a.87.87 0 01.52-1.2zm43.92-4.85c-.24-.48-.1-1.08.36-1.38 2.41-1.59 5-1.93 7.13-.96s3.55 3.17 3.92 6.03c.27 2.14 1.23 3.7 2.68 4.36 1.46.67 3.25.38 5.05-.8a1.07 1.07 0 011.48.3c.32.5.19 1.16-.3 1.48-2.4 1.59-5 1.94-7.13.96-2.12-.97-3.55-3.17-3.91-6.03-.28-2.14-1.23-3.69-2.69-4.36-1.46-.67-3.25-.38-5.05.8-.49.32-1.16.2-1.48-.3l-.06-.1zM41 45.67c-.47.25-1.07.1-1.38-.35-1.61-2.39-2-4.98-1.05-7.11.94-2.14 3.13-3.6 5.98-4 2.14-.3 3.67-1.27 4.32-2.73.65-1.47.34-3.26-.87-5.05-.33-.49-.2-1.15.28-1.48.5-.33 1.15-.2 1.5.28 1.6 2.39 2 4.98 1.04 7.11-.94 2.14-3.12 3.6-5.98 4-2.13.3-3.67 1.27-4.32 2.73-.65 1.47-.34 3.26.87 5.05.33.49.21 1.15-.28 1.49-.04.01-.07.04-.1.06z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 94%, 1)'/><path d='M101 9.76l.75 1.71-9.97 4.34-.74-1.72zM87.35 9.7l-.66 1.75L59.14 1.12l.65-1.76zM41.4-6.21l1.62.93L34.2 10l-1.62-.94zM87.35 109.7l-.66 1.76-27.55-10.35.65-1.75zM50.58 56.03l1.85-.3 1.83 11.32-1.85.3zm-6.22 13.79l-.5 1.8-17-4.66.5-1.8zM41.4 93.79l1.62.93L34.2 110l-1.62-.94zM87.35 9.7l-.66 1.75L59.14 1.12l.65-1.76zm-7.77 42.56l.77 1.76-16.34 7.11-.77-1.75zM1 9.76l.75 1.71-9.96 4.34-.75-1.72zm100 0l.75 1.71-9.97 4.34-.74-1.72zM31.04 27.68l.6 1.86-23.13 7.48-.6-1.86zm48.1 46.45l.73-1.72 10 4.28-.74 1.72zM41.4-6.2l1.62.93L34.2 10l-1.62-.94zM67.54 11.2l1.62.94-7.26 12.57-1.62-.94zM21.22 90.35l-.6-1.4 9.58-4.16.6 1.39zm69.3-49.79l-1.5 1.12L78.5 27.55l1.5-1.12zm-3.17 69.14l-.66 1.76-27.55-10.35.65-1.75zM41.4 93.8l1.62.93L34.2 110l-1.62-.94zM1 9.76l.74 1.71-9.96 4.34-.75-1.72z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 94%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-354,0)' fill='url(%23a)'/></svg>")
}

.auth-container {
    width: 100%;
    height: 100%;
    /*background-color: var(--white);*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 500px;
    backdrop-filter: blur(3px);
    border-radius: 12px;
}

.auth-head {
    font-weight: 600;
    font-size: var(--fs-24);
    padding: 20px 0px;
    padding-bottom: 25px;
}

.auth-logo {
    width: 200px;
    height:auto;
    margin: auto;
}
.auth-logo-img {
    width: 100%;
    height: 100%;
}

.auth-fld {
    background-color: transparent;
    width: 100%;
    min-height: 35px;
    position: relative;
    margin-bottom: 20px;
}

.auth-fld-lbl {
    font-size: var(--fs-14);
    /* background-color: var(--white); */
    color: var(--gry);
    position: absolute;
    top: 7px;
    left: 11px;
    padding: 2px 5px;
    transition: all 0.1s linear;
    z-index: 101;
}

.auth-fld-txt{
    position: relative;
    z-index: 100;
}

.auth-fld-inp {
    width: 100%;
    height: 40px;
    background-color: var(--white);
    border: 1px solid var(--gry-mid);
    border-radius: 4px;
    padding: 6px;
    text-align: left;
    outline: none;
    transition: all 0.1s linear;
    font:  small-caption;
    font-size: var(--fs-16);
}

.auth-fld-inp:hover {
    /*background-color: var(--gry-lt);*/
    border: 1px solid var(--gry-mid);
}

.auth-fld-inp:placeholder {
    display: none;
}

.auth-fld-inp:focus {
    /*background-color: var(--blue-lt);*/
    border: 1px solid var(--blue);
}

.auth-fld-inp~.auth-fld-lbl {
    cursor: text;
    user-select: none;
}
.auth-fld-inp:focus~.auth-fld-lbl {
    background-color: transparent;
}

.auth-fld-inp:hover~.auth-fld-lbl {
    background-color: transparent;
}

.auth-fld-inp:focus~.auth-fld-lbl {
    top: -13px;
    font-weight: 600;
    color: var(--gry);
    height: 20px;
}
.auth-fld-inp:valid~.auth-fld-lbl{
    top: -13px;
    font-weight: 600;
    color: var(--black);
    height: 20px;
}
.auth-fld-lbl::after{
    content: '';
    display: block;
    width: 98%;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    top: 13px;
    left: 2px;
}

.auth-btn {
    width: auto;
    min-width: 120px;
   	height: 40px;
    padding: 10px 15px;
    text-align: center;
    font-size: var(--fs-16);
    background-color: var(--prim);
    color: var(--white);
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    /*max-width: 150px;*/
    position: relative;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
    display: inline-block;
    margin-top:10px;
}

.auth-btn:hover{
    opacity: 0.8;
}

.auth-btn-load {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
.auth-btn-load:hover{
    opacity: 0.5;
}
.auth-btn-load::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 0px auto;
    border: 2px solid var(--white);
    border-top-color: var(--sec);
    animation: loading 1s linear infinite;
    border-radius: 100px;
}

.auth-ired {
    font-size: var(--fs-12);
    color: var(--red);
}

.auth-req {
    font-size: var(--fs-17);
    color: var(--red);
    font-weight: 600;
}

.auth-iblue {
    font-size: var(--fs-12);
    color: var(--blue);
}

.auth-notify{
        position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    min-height: 50px;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    column-gap: 10px;
    transition: all 0.1s linear;
    padding-left: 45px;
    box-shadow: 0px 6px 25px rgb(0 0 0 / 8%);
    max-width: 450px;
}
.auth-notify-show{
    top: 0px;
    transition: all 0.1s linear;
}
.auth-notify-lbl{
    font-size: var(--fs-15);
    color: var(--black);
    font-weight: 600;
}

.auth-notify-sublbl{
    font-size: var(--fs-13);
    color: var(--white);
    font-weight: 100;
}

.auth-sec{
    padding: 20px 0px;
    padding-top: 25px;
    text-align: center;
    font-size: var(--fs-15);
    padding-bottom: 10px;
}

.bg-green {
    background-color: var(--green);
}

.bg-green .auth-notify-lbl{
    color: var(--white);
}

.bg-red {
    background-color: var(--red);
}

.bg-red .auth-notify-lbl{
    color: var(--white);
}

.clnk {
    color: var(--blue);
}
.clnk:hover{
    opacity: 0.8;
}

.clnk:active{
    color: var(--blue);
}

.inp-disable {
    opacity: 0.7;
    background-color: var(--gry-lt);
    cursor: text;
}

.inp-disable:focus{
    border: 1px solid var(--gry-mid);
}
.inp-disable ~ .auth-fld-lbl{
    top: -13px;
    font-weight: 600;
    color: var(--black);
    height: 20px;
}

.auth-tick {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
      position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
}

.auth-tick::after {
    content: "";
    background: url('../images/circle_check.svg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--white);
    border-radius: 100px;
}

.auth-close {
    width: 25px;
    height: 25px;
    position: relative;
     display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
}

.auth-close::after {
    content: "";
    background: url('../images/off_close.svg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--white);
    border-radius: 100px;
}

.auth-fr {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.auth-checkbox{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    user-select: none;
}

.auth-check{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: var(--gry-mid);
    position: relative;
}

.auth-check::after{
     content: "";
    display: block;
    width: 11px;
    height: 4px;
    background-color: transparent;
    border: 2px solid transparent;
    border-top: 0px;
    border-right: 0px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-50deg);
}
.auth-checkbox input{
    display: none;
}
.auth-checkbox input:checked ~ .auth-check{
    background-color: var(--prim);
}
.auth-checkbox input:checked ~ .auth-check::after{
    border: 2px solid var(--white);
    border-top: 0px;
    border-right: 0px;
}

.auth-fld-sec{
    padding-bottom: 20px;
}

.auth-disable {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.auth-disable:hover{
    background-color: var(--prim);
    opacity: 0.6;
}

.auth-lft-imgb{
    width: 100%;
    height: 100%;
}

.auth-lft-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth-lft-txt{
    width: 100%;
    font-size: var(--fs-24);
    color: var(--prim);
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 20px;
    text-align: center;
    backdrop-filter:blue(4px);
}

.auth-sel-box{
    width: 100%;
    min-height: 40px;
    background-color: var(--white);
    border: 1px solid var(--gry-mid);
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.auth-sel-box:hover{
    border: 1px solid var(--blue);
}
.auth-sel-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 37px;
}
.auth-sel-lbl{
    font-size: var(--fs-13);
    color: var(--black);
    padding: 7px 10px;
}

.auth-sel-arr{
    display: flex;
    width: 20px;
    height: 20px;
    position: relative;
}

.auth-sel-arr::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid var(--gry-mid);
    border-top: 0px;
    border-left: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.auth-sel-arr::after{
    content: "";
    display: block;
    width:8px;
    height: 8px;
    border: 2px solid var(--gry-mid);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.auth-sel-opts{
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--gry-mid);
    max-height: 150px;
    overflow: auto;
    position: absolute;
    top: 45px;
    left: 0px;
    right: 0px;
    z-index: 100;
    user-select: none;
    box-shadow: 0px 4px 17px rgb(0, 0, 0, 0.23);
}
.auth-sel-opt{
    min-height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    border-bottom: 1px solid var(--gry-lt);
    padding: 0px 10px;
}
.auth-sel-txt{
    font-size: var(--fs-13);
    color: var(--black);
}

.auth-sel-opt:hover{
    background-color: var(--prim);
    border-bottom: 1px solid transparent;
}

.auth-sel-opt:hover .auth-sel-txt{
    color: var(--white);
}

.auth-fp-sec{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 5px;
    position: absolute;
    right: 0px;
    bottom: -28px;
}

.auth-fld-close{
    position: absolute;
    right: 5px;
    top: 8px;
    background-color: var(--white);
    cursor: pointer;
    user-select: none;
}

.auth-fld-close::after {
    content: "";
    display: block;
    background-image: url('../images/off_close.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 23px;
    height: 23px;
    opacity: 0.4;
}

.auth-fld-close:hover::after{
    opacity: 1;
}

.auth-fld-inp:valid~.auth-fld-close{
    display: block!important;
}
.auth-fld-inp:valid~.auth-fld-inp{
    padding-right: 30px;
}

.auth-fld-eye::after{
    background-image: url('../images/eye.svg');
}

.auth-fld-eyes::after{
    background-image: url('../images/eye-slash.svg');
}

.auth-bred {
    border: 1px solid var(--red)!important;
}
.auth-bred:hover{
    border: 1px solid var(--red)!important;
}
.auth-bred:focus{
    border: 1px solid var(--red)!important;
}

.auth-bgreen {
    border: 1px solid var(--green)!important;
}
.auth-bgreen:hover{
    border: 1px solid var(--green)!important;
}
.auth-bgreen:focus{
    border: 1px solid var(--green)!important;
}

.auth-info-box{
        display: none;
    border-radius: 12px;
    margin: 50px;
    padding: 40px;
    position: relative;
    padding-left: 45px;
    user-select: none;
    background-color: #00000099;
    backdrop-filter: blur(4px);
    width: auto;
    box-shadow: 0px 10px 20px #00000040;
}

.dn {
    display: none !important;
}

.db {
    display: block; !important;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:750px) {
    .auth-lft{
        width: 100%;
    }
    .auth-rgt{
           width: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 90%;
            border-radius: 15px;
    }
    .auth-container{
        height: 100%;
        padding: 50px 20px;
        backdrop-filter: blur(5px);
        border-radius: 30px;
        border: 4px solid var(--white);
    }

}